<h1 class="text-center">Welcome to Business_Name_Here</h1>
<h2 class="text-center">Let me watch your dogs</h2>
<br/>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'groupDoggos.jpeg', class: 'd-block img-fluid' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'dogBowl.jpeg', class: 'd-block img-fluid' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'dogSit.jpeg', class: 'd-block img-fluid' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'twoDoggos.jpeg', class: 'd-block img-fluid' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'doggos.jpeg', class: 'd-block img-fluid' %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
