<!DOCTYPE html>
<html>
  <head>
    <title>DoggoApp</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="flex-content-container">
    <header class="row">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do %>
        <%= image_tag 'husky.jpeg', class: 'dog-logo img-fluid' %>
        <% end %>
      </div>
      <div class="col col-sm-4 hidden-xs-down slogan">
        Get your friendly neighborhood dog watcher to babysit your pupper
      </div>
      <div class="col-10 offset-1 offset-sm-0 col-sm-5 links float-right">
        <%= link_to 'About Me!', about_path %>
        &nbsp;&nbsp;
        <%= link_to 'Services', service_path %>
      </div>
    </header>
  </div>

    <hr  />

    <br class="clear" />
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 footer-blurb ">
            Proudly watches dogs in Houston, Tx. <br  />
            Want me to watch your do? - <%= link_to 'Click Me!', 'https://www.rover.com/members/diana-t-large-fenced-yard-flexible-hours/', class: 'service-line' %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
