<!DOCTYPE html>
<html>
  <head>
    <title>DoggoApp</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='row'>
      <div class="col-3">
        Logo
      </div>
      <div class="col-4">
        Get your friendly neighborhood dog watcher to babysit your pupper
      </div
      <div class="col-5">
        <%= link_to 'About Me!', '#' %>
      </div>
    </header>

    <br class="clear" />
    <%= yield %>
  </body>
</html>
